---
layout: default
title: The House
---

<div class="above-fold">
  <div class="center center-title">
    <h2 class="main-title">holiday dream house</h2>
    <br >
    <a class="slowscroll" href="#jump">
      &nbsp;Learn more&nbsp;
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
  <div id="jump" class="below-fold">
    <div class="color-row" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="center">
              <h2 class="white-subtitle">
                about pech guillou
              </h2>
            </div>
            <p>
              Frequently described as one of the finest houses in the area, Pech Guillou is a medieval hunting lodge. It sits in an elevated position offering breathtaking views which have changed little over the centuries. The traditional stone manoir house offers comfortable accommodation. There are eight bedrooms sleeping 14-17 people, a heated swimming pool, a boules court, a games room and a summer kitchen to make outdoor dining easy.
            </p>

            <p>
              Of course the house has full central heating, so it’s ideal for use outside the normal holiday season. While winter weather can never be guaranteed, the winters here are usually mild. Longer-term rentals are possible. The layout of the house provides versatile accommodation. Out of season the manoir can be rented for smaller numbers. In addition the house and outbuildings could be used by groups such as artists, photographers, or for activities like yoga, wine courses etc.
            </p>

            <p>
              Please feel free to contact us to discuss possibilities. We wish you a pleasant stay on our website!
            </p>

            <p>
              Kind regards,<br >
              Bart &amp; Sabine
            </p>

          </div>
        </div>
      </div> <!-- container -->
    </div>
    <div class="container">
      <ul class="nav nav-tabs" style="margin-top:25px;">
        <li class=""><a href="#gallery" data-toggle="tab">
            <span class="glyphicon glyphicon-certificate"></span>
            The House</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-tower"></span>
            Bedrooms <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Adult bedrooms</li>
            <li role="presentation" class="divider"></li>
            <li><a href="#room1" data-toggle="tab">Suite Coloniale</a></li>
            <li><a href="#room2" data-toggle="tab">Chambre des Oliviers</a></li>
            <li><a href="#room3" data-toggle="tab">Chambre La Vie en Rose</a></li>
            <li><a href="#room4" data-toggle="tab">Chambre de la Lavande </a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Teen/Children bedrooms</li>
            <li role="presentation" class="divider"></li>
            <li><a href="#room5" data-toggle="tab">Pigonnier Tower (2)</a></li>
            <li><a href="#room6" data-toggle="tab">Loft (2)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-cutlery"></span>
            Equipment <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#kitchen" data-toggle="tab">Kitchen</a></li>
            <li><a href="#outdoorkitchen" data-toggle="tab">Outdoor Kitchen</a></li>
            <li><a href="#dining" data-toggle="tab">Dining Room</a></li>
            <li><a href="#lounge" data-toggle="tab">Sitting Room</a></li>
            <li><a href="#laundry" data-toggle="tab">Laundry</a></li>
          </ul>
        </li>
        <li class=""><a href="#swimming" data-toggle="tab">
            <span class="glyphicon glyphicon-certificate"></span>
            Swimming pool</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="gallery">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="subtitle">The House</h3>
              <div id="carousel-gallery" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/A.+JPG %}
                  <li data-target="#carousel-gallery" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/A.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-gallery" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-gallery" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room1">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Suite Coloniale</h3>
              <ul>
                <li>King-size boxspring double bed</li>
                <li>En-suite bathroom (shower, hair dryer)</li>
                <li>Situated next to the pool</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/N.+JPG %}
                  <li data-target="#carousel-room1" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/N.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room1" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room1" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room2">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Chambre des Oliviers</h3>
              <ul>
                <li>King-size boxspring double bed</li>
                <li>Lavatoire (hair dryer)</li>
                <li>Situated at the ground floor level</li>
              </li>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room2" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/P.+JPG %}
                  <li data-target="#carousel-room2" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/P.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room2" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room2" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room3">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Chambre La Vie en Rose</h3>
              <ul>
                <li>King-size boxspring double bed</li>
                <li>En suite bathroom (bath, hair dryer)</li>
                <li>Situated at the ground floor level</li>
              </li>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room3" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/O.+JPG %}
                  <li data-target="#carousel-room3" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/O.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room3" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room3" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room4">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Chambre de la Lavande</h3>
              <ul>
                <li>King-size boxspring double bed</li>
                <li>En suite bathroom (shower, hair dryer)</li>
                <li>Situated at the ground floor level</li>
              </li>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room4" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/Q.+JPG %}
                  <li data-target="#carousel-room4" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/Q.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room4" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room4" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room5">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Pigonnier Tower</h3>
              <ul>
                <li>2 bunk beds on first floor</li>
                <li>Hair dryer</li>
                <li>Twin bedded room on second floor</li>
              </li>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room5" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/R.+JPG %}
                  <li data-target="#carousel-room1" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/R.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room5" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room5" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="room6">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Loft</h3>
              <ul>
                <li>triple single bedded room</li>
                <li>en suite bathroom (shower, hair dryer)</li>
                <li>twin bedded room</li>
              </li>
            </div>
            <div class="col-lg-8">
              <div id="carousel-room6" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/S.+JPG %}
                  <li data-target="#carousel-room6" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/S.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-room6" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-room6" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="kitchen">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Kitchen</h3>
              <ul>
                <li>Microwave Oven</li>
                <li>Gas Oven</li>
                <li>Fridge / Freezer</li>
                <li>Dishwasher</li>
                <li>Water cooker</li>
                <li>Toaster</li>
                <li>Coffeemaker + Senseo</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-kitchen" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/L.+JPG %}
                  <li data-target="#carousel-kitchen" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/L.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-kitchen" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-kitchen" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="outdoorkitchen">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Outdoor Kitchen</h3>
              <ul>
                <li>2x Classic Barbeque</li>
                <li>Stone Oven</li>
                <li>Fridge</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-outdoorkitchen" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/D.+JPG %}
                  <li data-target="#carousel-outdoorkitchen" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/D.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-outdoorkitchen" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-outdoorkitchen" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="dining">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Dining Room</h3>
              <ul>
                <li>10+ accomodation</li>
                <li>Fireplace</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-dining" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/K.+JPG %}
                  <li data-target="#carousel-dining" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/K.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-dining" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-dining" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="lounge">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Sitting Room</h3>
              <ul>
                <li>Television set with DVD player</li>
                <li>Hifi set with CD player</li>
                <li>Wireless internet access<br> (further coverage may vary)</li>
                <li>Comics, books and boardgames</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-lounge" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/J.+JPG %}
                  <li data-target="#carousel-room1" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/J.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-lounge" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-lounge" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="laundry">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Laundry</h3>
              <ul>
                <li>Washing machine</li>
                <li>Tumble dryer</li>
                <li>Vacuum cleaner</li>
                <li>Ironing board with flat iron</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-laundry" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/T.+JPG %}
                  <li data-target="#carousel-laundry" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/T.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-laundry" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-laundry" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="swimming">
          <div class="row">
            <div class="col-lg-4">
              <h3 class="subtitle">Swimming pool</h3>
              <ul>
                <li>Multiple levels</li>
                <li>Covered</li>
                <li>Temperature managed</li>
                <li>Sun loungers with cushions</li>
                <li>Outdoor shower</li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div id="carousel-swimming" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% directory path: img/pictures include: .+\/B.+JPG %}
                  <li data-target="#carousel-swimming" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                  {% enddirectory %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% directory path: img/pictures include: .+\/B.+JPG %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{{ file.url }}" width="100%" alt="{{ file.name }}">
                  </div>
                  {% enddirectory %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-swimming" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-swimming" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% include footer.html %}
    </div>
  </div>
</div>
